@import "./variables.css";

.hero{
  margin: 3rem 7.5% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-description{
  min-width: 300px;
}

h1{
  font-size: 4rem;
  color: var(--Very-Dark-Violet);
  line-height: 1.2em;
  font-weight: 700;
}

p{
  font-size: 1.1rem;
  color: var(--Grayish-Violet);
  line-height: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
}

.get-started{
  font-size: .9rem;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: var(--Cyan);
  border-color: transparent;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.get-started:hover{
  opacity: .5;
}

#hero-img{
  width: 550px;
  transform: translateX(200px);
}

@media screen and (min-width: 800px) and (max-width: 1023px){
  h1{
    font-size: 3rem;   
  }

  p{
    font-size: 1rem;
  }

  #hero-img{
    width: 475px;
    transform: translateX(120px);
  }
}

@media screen and (max-width: 799px){
  .hero{
    flex-direction: column-reverse;
    gap: 30px;
  }

  h1{
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  p{
    font-size: .8rem;
  }

  .hero-description{
    text-align: center;
  }

  #hero-img{
    width: 400px;
    transform: translateX(80px);
  }

  .get-started{
    font-size: .8rem;
  }
}