@import "variables.css";

.shorten-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 130px;
  margin: 5rem 7.5% 0;
  background-image: url(../assets/images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Dark-Violet);
  border: 1px solid var(--Dark-Violet);
  border-radius: 8px;
}

.shorten-input{
  width: 70%;
  padding: 15px 20px;
  border-radius: 8px;
  border-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
  color: var(--Grayish-Violet);
  font-weight: 500;
}

::placeholder{
  color: var(--Grayish-Violet);
  opacity: .7;
}

.shorten-button{
  font-size: .9rem;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: var(--Cyan);
  border-color: transparent;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

.shorten-button:hover{
  opacity: .8;
}

@media screen and (min-width: 800px) and (max-width: 1023px){
  .shorten-input {
    width: 68%;
    font-size: .7rem;    
  }

  .shorten-button{
    font-size: .8rem;
    padding: 10px 26px;
  }
}

@media screen and (max-width: 799px){
  .shorten-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0;
    padding: 10px 0;

    .shorten-input,
    .shorten-button{
      font-size: .7rem;
      width: 85%;
      padding: 8px 13px;
    }
  }
}