@import url("./variables.css");

section {
  padding-top: 40px;
  padding-bottom: 220px;
  background-color: hsl(180, 23%, 94%);
}

.results-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  margin-bottom: 25px;
  background-color: #FFF;
  border-color: #FFF;
  border-radius: 5px;
}

.results-container p{
  display: inline-block;
  max-width: 100vw; /* Limitando el ancho del contenedor */
  white-space: nowrap;  /* Evitar que el texto se divida en varias lineas */
  overflow: hidden; /* Ocultar el texto que se desborda */
  text-overflow: ellipsis;  /* Mostrar "..." para indicar un texto oculto */
  margin-bottom: 0;
  font-size: .7rem;
  color: var(--Dark-Violet);
  font-weight: 700;
}

.shorted-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.shorted-container p{
  font-weight: 700;
  color: var(--Cyan);
}

.shorted-container button{
  padding: 9px 35px;
  font-size: .8rem;
  border-radius: 5px;
  border-style: none;
  background-color: var(--Cyan);
  color: #FFF;
}

.shorted-container button:hover{
  opacity: .5;
}

.shorted-container button:active{
  background-color: var(--Dark-Violet);
  opacity: 1;
}

.statisctics-container{
  margin: 0 auto;
  width: 85%;
}

.cards-container{
  
  display: flex;
  justify-content: space-between;
  position: relative;
}

.line {
  position: absolute;
  top: 58%; /* Ajusta este valor para colocar la línea en la altura deseada */
  width: 100%;
  height: 7px;  /* Grosor de la línea */
  background-color: hsl(180, 66%, 49%);
}

.text-container{
  text-align: center;
  margin-top: 70px;
}

.text-container h2{
  font-size: 1.8rem;
  color: var(--Very-Dark-Violet);
}

.text-container p {
  width: 55%;
  margin: 0 auto 60px;
  font-size: .9rem;
  line-height: 26px;
}

@media screen and (min-width: 800px) and (max-width: 1023px){
  .results-container p {
    font-size: .55rem;
  }

  .shorted-container{
    gap: 20px;
  }

  .shorted-container button{
    padding: 8px 20px;
    font-size: .7rem;
  }
}

@media screen and (max-width: 799px){
  .results-container,
  .shorted-container{
    flex-direction: column;
    align-items: flex-start;
  }

  .results-container > p{
    width: 100%;
    font-size: .6rem;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--Gray);
  }

  .shorted-container{
    width: 100%;
    gap: 15px;
  }

  .shorted-container button{
    width: 100%;
    font-size: .7rem;
  }

  .text-container h2{
    font-size: 1.5rem;
  }

  .text-container p{
    font-size: .8rem;
    width: 100%;
  }

  .cards-container{
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .line{
    position: absolute;
    height: calc(100% - 50px); /* Ajusta la altura de la línea según las tarjetas */
    width: 7px; /* Grosor de la línea */
    background-color: hsl(180, 66%, 49%);
    top: 25px; /* Ajusta según la alineación deseada */
    left: 50%; /* Centra la línea en relación con las tarjetas */
    transform: translateX(-50%); /* Ajusta para mantenerla centrada */
  }

  .card{
    width: 100%;
    text-align: center;
  }

  .card > img{
    width: 50px;
  }

  .card > h3{
    font-size: .9rem;
  }

  .card > p{
    font-size: .7rem;
  }
}